@page "/clientes"
@attribute [Authorize(Roles = "Administrator,User")]
@using Model;
@using Services
@inject ClienteService ClienteService

<PageTitle>Clientes</PageTitle>

<h3>Clientes</h3>
<div>
    <button class="btn btn-primary" @onclick='ShowForm'> Add </button>
    <input @bind-value="Buscador" placeholder="Search..."/>
</div>

@if (lista == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>DNI</th>
                <th>Nombre</th>
                <th>Telefono</th>
                <th>Mail</th>
                <th>Dirección</th>
                <th>Observaciones</th>
                <th> </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var l in lista)
            {
                @if(filtrarCliente(l, Buscador))
                {
                <tr>
                    <td>@l.DNI</td>
                    <td>@l.Nombre</td>
                    <td>@l.Telefono</td>
                    <td>@l.Mail</td>
                    <td>@l.Direccion</td>
                    <td class="td-max-width">@l.Observaciones</td>
                    <td class="btn-td">
                        <button class="btn btn-warning" @onclick="() => ShowEditForm(l)">Edit</button>
                        <button class="btn btn-danger" @onclick="() => OnDelete(l)">Delete</button>
                    </td>
                </tr>
                }                
            }
        </tbody>
    </table>
}

<div>
    @if(FormIsActive)
    {
        <FormCliente Cliente="ClienteToEdit" CloseForm="CloseForm" RefreshList="RefreshList" />
    }
</div>

@code {
    private string Buscador;
    private List<Cliente> lista;
    private bool FormIsActive = false;
    private Cliente ClienteToEdit = new Cliente();

    protected override async Task OnInitializedAsync()
    {
        lista = ClienteService.GetCliente();
    }

    public void RefreshList()
    {
        lista = ClienteService.GetCliente();
    }

    public void OnDelete(Cliente cliente)
    {
        bool ok = ClienteService.DeleteCliente(cliente);
        if (ok) RefreshList();
    }

    public void ShowForm()
    {
        FormIsActive = true;
    }

    public void ShowEditForm(Cliente cliente)
    {
        ClienteToEdit = cliente;
        ShowForm();
    }

    public void CloseForm()
    {
        FormIsActive = false;
        ClienteToEdit = new Cliente();
    }

    private bool filtrarCliente(Cliente c, string filtro)
    {
        if (filtro == null || filtro.Length == 0) return true;
        bool res = false;

        res |= c.DNI.ToString().Contains(filtro);
        res |= c.Nombre.ToLower().Contains(filtro);

        return res;
    }
}
