@page "/mi-usuario"
@attribute [Authorize(Roles = "Administrator,User")]
@using Model;
@using Services
@using Authentication
@inject UsuarioService usuarioService
@inject IJSRuntime js;



<EditForm Model="miUsuario" OnValidSubmit="OnValidSubmit" class="usuario-page-form">
    <h2>Usuario: @miUsuario.Username</h2>
    <label>Usuario:
        <InputText @bind-Value="miUsuario.Username" disabled/>
        <ValidationMessage For="@(()=> miUsuario.Nombre)" />
    </label>
    <label>Nombre:
        <InputText @bind-Value="miUsuario.Nombre"/>
        <ValidationMessage For="@(()=> miUsuario.Nombre)" />
    </label>
    <label>
        Contraseña: 
        <InputText @bind-Value="miUsuario.Password" type=@PassInputType />
        <span class="oi oi-eye cursor-pointer" onclick="@HideShowPassword"></span>
        <ValidationMessage For="@(()=> miUsuario.Password)" />
    </label>
    <button class="btn btn-primary">Guardar</button>
    <DataAnnotationsValidator />
</EditForm>


@code {
    [CascadingParameter]
    private Task<AuthenticationState> authenticationState { get; set; }
    private Usuario miUsuario;
    private string username;

    private string PassInputType = "password";

    protected override async Task OnInitializedAsync()
    {
        var auth = authenticationState;
        username = auth.Result.User.Identity.Name;
        miUsuario = usuarioService.GetByUsername(username);
    }

    private async void OnValidSubmit()
    {
        var ok = usuarioService.AddUpdate(miUsuario);
        if(ok)
        {
            await js.InvokeVoidAsync("alert", "Actualizado");
        }
    }

    private void HideShowPassword()
    {
        PassInputType = (PassInputType.Equals("password") ? "text" : "password");
    }
}
